/* table.css */
.tables-container .card {
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: rgb(214, 200, 214); */
    width: 450px;
    margin: auto;
  }
  
  .tables-container .card-img-container {
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .tables-container .card-img {
    width: 100%;
    height: auto;
  }
  
  .tables-container .card-body {
    padding: 20px;
  }
  
  .tables-container .card-title {
    margin-bottom: 10px;
  }
  
  .tables-container .card-subtitle {
    color: #6c757d;
    margin-bottom: 10px;
  }
  
  .tables-container .card-text {
    margin-bottom: 20px;
  }
  
  .tables-container .dropdown_btn {
    display: flex;
    align-items: center;
  }
  
  .tables-container .btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  
  .tables-container .btn i {
    font-size: 1.5rem;
  }
  
  .page{
    margin-left: -5px;
  }