.root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.car-image {
    margin-right: 60px;
    margin-left: 100px;

}

.car-image img {
    max-width: 100%;
}

.book-car {
    max-width: 600px;

}

.book-car h2 {
    margin-top: 0;
}

.book-car form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.book-car form div {
    display: grid;
    gap: 5px;
}

.book-car form label {
    font-weight: bold;
}

.book-car form input {
    width: 100%;
}

.book-car form small {
    font-size: 12px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.submit-button:hover {
    background-color: #39b300e9;
}


.car_info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    /* Adjust as needed */
    margin: 0 auto;
}

h2 {
    font-weight: bold;
    color: black;
    /* Your desired color */
}

.car_info h3 {
    margin-top: 0;
}

.car_info h6 {
    margin-bottom: 5px;
}

.Car_timings {
    color: #666;
    font-style: italic;
}